.Ajouter_consult {
  margin-bottom: 1rem;
}
.Ajouter_consult h2 {
  text-align: center;
}
.Ajouter_consult form {
  display: flex;
  gap: 2rem;
}
.Ajouter_consult form .ajouter_symptome {
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.Ajouter_consult form .ajouter_symptome input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  width: 100%;
  justify-self: end;
}
.Ajouter_consult form .ajouter_symptome input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input svg {
  fill: darkgreen;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input svg:hover {
  cursor: pointer;
}
.Ajouter_consult form .ajouter_symptome .diagnos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome li {
  animation: table 300ms ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome li svg {
  fill: darkred;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_information {
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}
.Ajouter_consult form .ajouter_information h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_information .input_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Ajouter_consult form .ajouter_information .input_info .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.Ajouter_consult form .ajouter_information .input_info .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  flex-grow: 1;
  padding: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe {
  display: flex;
  flex-direction: column;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input {
  display: flex;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container {
  display: flex;
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  align-items: center;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container input[type=file] {
  display: none;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container svg {
  fill: darkgreen;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container svg:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container #fileName {
  outline: 0;
  background-color: transparent;
  border: 0;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .btn_ajout {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .btn_ajout:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .liste_file ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .liste_file ul li {
  animation: table 300ms ease-in;
  display: flex;
  gap: 1rem;
  padding: 5px;
  color: #fff;
  background-color: green;
  border-radius: 4px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input {
  display: flex;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input .btn_ajout {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input .btn_ajout:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .liste_file ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .liste_file ul li {
  animation: table 300ms ease-in;
  display: flex;
  gap: 1rem;
  padding: 5px;
  color: #fff;
  background-color: green;
  border-radius: 4px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_document .btn {
  display: flex;
  gap: 2rem;
}
.Ajouter_consult form .ajouter_document .btn span {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: darkred;
  border: 0;
  width: 6rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .btn span:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .btn button {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: darkgreen;
  border: 0;
  width: 6rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .btn button:hover {
  filter: brightness(80%);
}

.dossier {
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  box-sizing: border-box;
}
.dossier h2 {
  margin-top: 0.4rem;
  margin: 0;
}
.dossier .dossier_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.dossier .information_personnel {
  grid-area: 1/1/11/4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dossier .information_personnel h3 {
  text-align: center;
}
.dossier .information_personnel .container {
  animation: table 300ms ease-in-out;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  height: -moz-max-content;
  height: max-content;
}
.dossier .information_personnel .container .info {
  display: flex;
  justify-content: center;
}
.dossier .information_personnel .container .info span:nth-child(1) {
  font-weight: 600;
  width: 10rem;
}
.dossier .information_personnel .container .info span:nth-child(2) {
  width: 10rem;
  font-weight: 500;
}
.dossier .information_personnel .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dossier .information_personnel .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.dossier .information_personnel .input_container select {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.dossier .information_personnel .input_container select:hover {
  border: 1px solid #8d8d8d;
}
.dossier .information_personnel .input_container select:focus {
  outline: 2px solid darkgreen;
}
.dossier .table_rdv {
  grid-area: 1/4/6/11;
}
.dossier .table_rdv .table_rdv_patient {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dossier .table_rdv .table_rdv_patient .table_btn {
  display: flex;
  justify-content: space-evenly;
}
.dossier .table_rdv .table_rdv_patient .table_btn .btn_archive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 10rem;
  color: #fff;
  background-color: darkgreen;
  border-radius: 4px;
  padding: 5px 15px;
}
.dossier .table_rdv .table_rdv_patient .table_btn .btn_archive svg {
  fill: #fff;
}
.dossier .table_rdv .table_rdv_patient .table_btn .btn_archive:hover {
  filter: brightness(80%);
}
.dossier .table_rdv .table_rdv_patient .table_btn .btn_ajout {
  display: flex;
  align-items: center;
  width: 10rem;
  font: inherit;
  cursor: pointer;
  background-color: darkgreen;
  color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 0.4rem;
  font-weight: 500;
}
.dossier .table_rdv .table_rdv_patient .table_btn .btn_ajout:hover {
  filter: brightness(80%);
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content {
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
  background-color: #fff;
  animation: table 300ms ease-in-out;
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table {
  font-family: Inter, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table thead tr {
  height: 2.5rem;
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table thead tr td {
  padding: 0 1rem;
  font-weight: 600;
  background-color: rgba(0, 128, 0, 0.301);
  color: rgba(58, 53, 65, 0.87);
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table tbody tr {
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table tbody tr td {
  color: rgba(58, 53, 65, 0.68);
  padding: 0 1rem;
  height: 100%;
  font-weight: 500;
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table tbody tr td .action {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.dossier .table_rdv .table_rdv_patient .consultation_table__content .table tbody tr td .action svg {
  cursor: pointer;
}
.dossier .table_consult {
  grid-area: 6/4/11/11;
}
.dossier .table_consult .table_rdv_patient {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dossier .table_consult .table_rdv_patient .table_btn {
  display: flex;
  justify-content: space-evenly;
}
.dossier .table_consult .table_rdv_patient .table_btn .btn_ajout {
  display: flex;
  align-items: center;
  width: 10rem;
  font: inherit;
  cursor: pointer;
  background-color: darkgreen;
  color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 0.4rem;
  font-weight: 500;
}
.dossier .table_consult .table_rdv_patient .table_btn .btn_ajout:hover {
  filter: brightness(80%);
}
.dossier .table_consult .table_rdv_patient .consultation_table__content {
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
  background-color: #fff;
  animation: table 300ms ease-in-out;
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table {
  font-family: Inter, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table thead tr {
  height: 2.5rem;
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table thead tr td {
  padding: 0 1rem;
  font-weight: 600;
  background-color: rgba(0, 128, 0, 0.301);
  color: rgba(58, 53, 65, 0.87);
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table tbody tr {
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table tbody tr td {
  color: rgba(58, 53, 65, 0.68);
  padding: 0 1rem;
  height: 100%;
  font-weight: 500;
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table tbody tr td .action {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.dossier .table_consult .table_rdv_patient .consultation_table__content .table tbody tr td .action svg {
  cursor: pointer;
}/*# sourceMappingURL=dossierMedical.css.map */