@charset "UTF-8";
.header_medecin {
  grid-column: 1/7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  color: #fff;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid darkgreen;
}
@media screen and (max-width: 768px) {
  .header_medecin {
    /* Ajustements pour les écrans plus petits */
    grid-column: 1/-1; /* Occupe toutes les colonnes disponibles */
    flex-direction: column; /* Empiler les éléments verticalement */
    /* Réduire les marges ou les espacements si nécessaire */
  }
}
.header_medecin .lien {
  text-decoration: none;
  color: #fff;
}
.header_medecin .header_medecin_logo img {
  width: 5rem;
  height: 5rem;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste .dropdown {
  position: relative;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste .dropdown .dropdown-menu {
  border-radius: 4px;
  background-color: rgba(0, 128, 0, 0.849);
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
  list-style: none;
  height: auto;
  position: absolute;
  top: 100%;
  left: 100%;
  transform-origin: center;
  transform: scaleY(0);
  transition: transform 200ms ease;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste .dropdown .dropdown-menu li {
  width: 100%;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste .dropdown .dropdown-menu li .lien {
  display: flex;
  justify-content: flex-start;
  text-decoration: underline;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste .dropdown .dropdown-menu li:hover {
  background-color: darkgreen;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste .dropdown:hover .dropdown-menu {
  transform: scaleY(1);
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste li {
  height: 3rem;
  width: 10rem;
  border-radius: 4px;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste li .lien {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste li .lien .arrow-down {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
}
.header_medecin .header_medecin_menu .header_medecin_menu_liste li:hover {
  background-color: darkgreen;
}
.header_medecin .header_medecin_profil {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.header_medecin .header_medecin_profil .header_medecin_profil_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header_medecin .header_medecin_profil img {
  outline-offset: 1px;
  outline: 2px solid darkgreen;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #979797;
}/*# sourceMappingURL=header.css.map */