.Ajouter_consult {
  margin-bottom: 1rem;
}
.Ajouter_consult h2 {
  text-align: center;
}
.Ajouter_consult form {
  display: flex;
  gap: 2rem;
}
.Ajouter_consult form .ajouter_symptome {
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.Ajouter_consult form .ajouter_symptome input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  width: 100%;
  justify-self: end;
}
.Ajouter_consult form .ajouter_symptome input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input svg {
  fill: darkgreen;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input svg:hover {
  cursor: pointer;
}
.Ajouter_consult form .ajouter_symptome .diagnos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome li {
  animation: table 300ms ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome li svg {
  fill: darkred;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_information {
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}
.Ajouter_consult form .ajouter_information h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_information .input_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Ajouter_consult form .ajouter_information .input_info .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.Ajouter_consult form .ajouter_information .input_info .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  flex-grow: 1;
  padding: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe {
  display: flex;
  flex-direction: column;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input {
  display: flex;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container {
  display: flex;
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  align-items: center;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container input[type=file] {
  display: none;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container svg {
  fill: darkgreen;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container svg:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container #fileName {
  outline: 0;
  background-color: transparent;
  border: 0;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .btn_ajout {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .btn_ajout:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .liste_file ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .liste_file ul li {
  animation: table 300ms ease-in;
  display: flex;
  gap: 1rem;
  padding: 5px;
  color: #fff;
  background-color: green;
  border-radius: 4px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input {
  display: flex;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input .btn_ajout {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input .btn_ajout:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .liste_file ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .liste_file ul li {
  animation: table 300ms ease-in;
  display: flex;
  gap: 1rem;
  padding: 5px;
  color: #fff;
  background-color: green;
  border-radius: 4px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_document .btn {
  display: flex;
  gap: 2rem;
}
.Ajouter_consult form .ajouter_document .btn span {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: darkred;
  border: 0;
  width: 6rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .btn span:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .btn button {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: darkgreen;
  border: 0;
  width: 6rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .btn button:hover {
  filter: brightness(80%);
}

.intervention {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}
.intervention .section1 {
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-grow: 2;
}
.intervention .section1 .section1_container {
  background-color: #fff;
}
.intervention .section1 .section1_container table {
  width: 100%;
  border-collapse: collapse;
  height: auto;
}
.intervention .section1 .section1_container table thead tr th {
  border: 1px solid black;
}
.intervention .section1 .section1_container table tbody tr td {
  vertical-align: top;
  padding: 1rem;
  border: 1px solid black;
  max-width: 0;
  word-break: break-all;
}
.intervention .section1 .section1_container table tbody tr td .cellule_patient {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.intervention .section1 .section1_container table tbody tr td .cellule_patient p {
  margin: 0;
  text-align: left;
}
.intervention .section1 .section1_container table tbody tr td .cellule_patient p span {
  text-transform: capitalize;
}
.intervention .section1 .section1_container .observation {
  display: flex;
  flex-direction: column;
}
.intervention .section1 .section1_container .observation strong {
  align-self: center;
}
.intervention .section1 .section1_container .observation p {
  word-break: break-all;
}
.intervention .formulaire {
  width: 100%;
}
.intervention .formulaire form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intervention .formulaire form .partie1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1rem;
}
.intervention .formulaire form .partie1 .input_container {
  display: flex;
  flex-direction: column;
}
.intervention .formulaire form .partie1 .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.intervention .formulaire form .partie1 .input_container input,
.intervention .formulaire form .partie1 .input_container select {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.intervention .formulaire form .partie1 .input_container input:hover,
.intervention .formulaire form .partie1 .input_container select:hover {
  border: 1px solid #8d8d8d;
}
.intervention .formulaire form .partie1 .input_container input:focus,
.intervention .formulaire form .partie1 .input_container select:focus {
  outline: 2px solid darkgreen;
}
.intervention .formulaire form .partie1 .input_container .dates {
  width: 100%;
  position: relative;
}
.intervention .formulaire form .partie1 .input_container .dates input[type=date] {
  width: 1.4rem;
  border: 0;
  background-color: transparent;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  position: absolute;
  outline: 0;
}
.intervention .formulaire form .partie1 .input_container .dates input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
.intervention .formulaire form .partie2 {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.intervention .formulaire form .partie2 .input_container {
  display: flex;
  flex-direction: column;
}
.intervention .formulaire form .partie2 .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.intervention .formulaire form .partie2 .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.intervention .formulaire form .partie2 .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.intervention .formulaire form .partie2 .input_container input:focus {
  outline: 2px solid darkgreen;
}
.intervention .formulaire form .input_container {
  display: flex;
  flex-direction: column;
}
.intervention .formulaire form .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.intervention .formulaire form .input_container textarea {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  resize: none;
  height: 5rem;
}
.intervention .formulaire form .input_container textarea:hover {
  border: 1px solid #8d8d8d;
}
.intervention .formulaire form .input_container textarea:focus {
  outline: 2px solid darkgreen;
}
.intervention .formulaire form .btn {
  display: flex;
  justify-content: space-between;
}
.intervention .formulaire form .btn span {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  border: 0;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 0.8px;
  background-color: darkgreen;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intervention .formulaire form .btn span:hover {
  filter: brightness(80%);
}
.intervention .formulaire form .btn .btn_save {
  display: flex;
  gap: 1rem;
}
.intervention .formulaire form .btn .btn_save span {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  border: 0;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 0.8px;
  background-color: darkgreen;
  background-color: darkred;
}
.intervention .formulaire form .btn .btn_save span:hover {
  filter: brightness(80%);
}
.intervention .formulaire form .btn .btn_save button {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.3rem 0.4rem;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
  border: 0;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 0.8px;
  background-color: darkgreen;
}
.intervention .formulaire form .btn .btn_save button:hover {
  filter: brightness(80%);
}

@media print {
  .section1_container {
    background-color: #fff;
    padding: 1rem;
  }
  .section1_container table {
    width: 100%;
    border-collapse: collapse;
  }
  .section1_container table thead tr th {
    border: 2px solid black;
  }
  .section1_container table tbody tr td {
    vertical-align: top;
    padding: 1rem;
    border: 2px solid black;
    max-width: 0;
    word-break: break-all;
  }
  .section1_container table tbody tr td .cellule_patient {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .section1_container table tbody tr td .cellule_patient p {
    margin: 0;
  }
  .section1_container .observation {
    display: flex;
    flex-direction: column;
  }
  .section1_container .observation strong {
    align-self: center;
  }
  .section1_container .observation p {
    word-break: break-all;
  }
}/*# sourceMappingURL=ajouterIntervension.css.map */