@charset "UTF-8";
.Ajouter_consult {
  margin-bottom: 1rem;
}
.Ajouter_consult h2 {
  text-align: center;
}
.Ajouter_consult form {
  display: flex;
  gap: 2rem;
}
.Ajouter_consult form .ajouter_symptome {
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.Ajouter_consult form .ajouter_symptome input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  width: 100%;
  justify-self: end;
}
.Ajouter_consult form .ajouter_symptome input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input svg {
  fill: darkgreen;
}
.Ajouter_consult form .ajouter_symptome .Ajouter_symptome_input svg:hover {
  cursor: pointer;
}
.Ajouter_consult form .ajouter_symptome .diagnos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_symptome .diagnos .input_container input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome li {
  animation: table 300ms ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Ajouter_consult form .ajouter_symptome .liste_symptome li svg {
  fill: darkred;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_information {
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}
.Ajouter_consult form .ajouter_information h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_information .input_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Ajouter_consult form .ajouter_information .input_info .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.Ajouter_consult form .ajouter_information .input_info .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_information .input_info .input_container input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  flex-grow: 1;
  padding: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe {
  display: flex;
  flex-direction: column;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input {
  display: flex;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input input:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container {
  display: flex;
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  align-items: center;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container input[type=file] {
  display: none;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container svg {
  fill: darkgreen;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container svg:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .input_container #fileName {
  outline: 0;
  background-color: transparent;
  border: 0;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .btn_ajout {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .fichier_externe_input .btn_ajout:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .liste_file ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .fichier_externe .liste_file ul li {
  animation: table 300ms ease-in;
  display: flex;
  gap: 1rem;
  padding: 5px;
  color: #fff;
  background-color: green;
  border-radius: 4px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input {
  display: flex;
  gap: 1rem;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  flex-grow: 2;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select:hover {
  border: 1px solid #8d8d8d;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input select:focus {
  outline: 2px solid darkgreen;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input .btn_ajout {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .document_interne_input .btn_ajout:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .liste_file ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container .document_interne .liste_file ul li {
  animation: table 300ms ease-in;
  display: flex;
  gap: 1rem;
  padding: 5px;
  color: #fff;
  background-color: green;
  border-radius: 4px;
}
.Ajouter_consult form .ajouter_document .ajouter_document_container h3 {
  color: darkgreen;
  text-align: center;
}
.Ajouter_consult form .ajouter_document .btn {
  display: flex;
  gap: 2rem;
}
.Ajouter_consult form .ajouter_document .btn span {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: darkred;
  border: 0;
  width: 6rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .btn span:hover {
  filter: brightness(80%);
}
.Ajouter_consult form .ajouter_document .btn button {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: darkgreen;
  border: 0;
  width: 6rem;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.Ajouter_consult form .ajouter_document .btn button:hover {
  filter: brightness(80%);
}

.ordonnance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row-reverse;
  gap: 5rem;
  font-family: sans-serif;
  padding: 1rem;
}
.ordonnance .ord_c {
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 1rem;
}
.ordonnance .ord_c .ordonnance_Container {
  position: relative;
  background-color: #ffffff;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ordonnance .ord_c .ordonnance_Container .section1 {
  display: flex;
  flex-direction: column;
}
.ordonnance .ord_c .ordonnance_Container .section1 .entete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordonnance .ord_c .ordonnance_Container .section1 .entete .entete_text h3 {
  margin: 0;
}
.ordonnance .ord_c .ordonnance_Container .section1 .entete .entete_text h4 {
  margin: 0;
  text-align: center;
}
.ordonnance .ord_c .ordonnance_Container .section1 .entete img {
  height: 80px;
  width: 80px;
}
.ordonnance .ord_c .ordonnance_Container .section1 .section1_info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.ordonnance .ord_c .ordonnance_Container .section1 .section1_info .date {
  align-self: flex-start;
}
.ordonnance .ord_c .ordonnance_Container .section1 .section1_titre {
  align-self: center;
}
.ordonnance .ord_c .ordonnance_Container .section1 .section1_titre h3 {
  margin: 0.2rem;
  text-align: center;
}
.ordonnance .ord_c .ordonnance_Container .section1 .traitement ul li {
  list-style: decimal;
}
.ordonnance .ord_c .ordonnance_Container .section2 p p {
  position: fixed; /* Position absolue par rapport à la section .ord_c */
  bottom: 0; /* Coller le pied de page en bas */
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.9rem;
}
.ordonnance form {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  flex-grow: 2;
  flex-basis: content;
}
.ordonnance form .ajout_traitement {
  display: flex;
  gap: 1rem;
}
.ordonnance form .ajout_traitement span {
  cursor: pointer;
  height: 2.5rem;
  align-self: flex-end;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  background-color: darkgreen;
  color: #fff;
}
.ordonnance form .ajout_traitement span:hover {
  filter: brightness(80%);
}
.ordonnance form .ajout_traitement .input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.ordonnance form .ajout_traitement .input_container textarea {
  font-family: inter, sans-serif;
  padding-left: 0.5rem;
  height: 2.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 1rem 1rem;
  height: 3.5rem;
  font-size: 1.2rem;
  resize: none;
  width: 100%;
}
.ordonnance form .ajout_traitement .input_container textarea:hover {
  border: 1px solid #8d8d8d;
}
.ordonnance form .ajout_traitement .input_container textarea:focus {
  outline: 2px solid darkgreen;
}
.ordonnance form .ajout_traitement .input_container label {
  font-family: inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2e2e2e;
}
.ordonnance form .liste_traitement ul li {
  animation: table 300ms ease;
  list-style: decimal;
}
.ordonnance form .liste_traitement ul li div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.ordonnance form .btn {
  animation: table 300ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordonnance form .btn .btn_1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.ordonnance form .btn .btn_1 button {
  border: 0;
  background-color: darkgreen;
  color: #fff;
  font-size: 1em;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 6rem;
}
.ordonnance form .btn .btn_1 button:hover {
  filter: brightness(80%);
}
.ordonnance form .btn .btn_1 button:nth-child(2) {
  background-color: darkred;
}
.ordonnance form .btn .btn_1 button:nth-child(2):hover {
  filter: brightness(80%);
}
.ordonnance form .btn .print {
  display: flex;
  align-items: center;
  background-color: darkgreen;
  cursor: pointer;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  width: 6rem;
  gap: 4px;
}
.ordonnance form .btn .print:hover {
  filter: brightness(80%);
}
.ordonnance form .btn .print svg {
  width: 25ppx;
}

@media print {
  .ordonnance_Container {
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ordonnance_Container .section1 {
    display: flex;
    flex-direction: column;
  }
  .ordonnance_Container .section1 .entete {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ordonnance_Container .section1 .entete .entete_text h3 {
    margin: 0;
  }
  .ordonnance_Container .section1 .entete .entete_text h4 {
    margin: 0;
    text-align: center;
  }
  .ordonnance_Container .section1 .entete img {
    height: 80px;
    width: 80px;
  }
  .ordonnance_Container .section1 .section1_info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .ordonnance_Container .section1 .section1_info .date {
    align-self: flex-start;
  }
  .ordonnance_Container .section1 .section1_titre {
    align-self: center;
    margin-bottom: 3rem;
  }
  .ordonnance_Container .section1 .section1_titre h3 {
    margin: 0.2rem;
    text-align: center;
  }
  .ordonnance_Container .section1 .traitement ul li {
    list-style: decimal;
  }
  .ordonnance_Container .section2 p {
    position: fixed; /* Position absolue par rapport à la section .ord_c */
    bottom: 0; /* Coller le pied de page en bas */
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.9rem;
  }
  @page {
    margin: 0; /* Masque le nom de l'onglet dans l'en-tête */
  }
}/*# sourceMappingURL=ordonnance.css.map */